.container.pmp-search-form
  .row
    %h2.title
      Search the Platform
    .col-md-6.col-md-offset-3
      %form{method: 'get', action: public_search_path}
        = render partial: 'search/form'
.partner-stats
  .container
    .row
      - @partners.each_with_index do |partner, idx|
        .col-sm-2{class: idx == 0 ? 'col-sm-offset-1' : ''}
          %h3
            = image_tag partner[:image]
            %br.visible-sm
            = partner[:name]
          %table.table
            %tr
              %td.count= number_with_delimiter partner[:stats][:story_count]
              %td.type= 'Story'.pluralize partner[:stats][:story_count]
            %tr
              %td.count= number_with_delimiter partner[:stats][:image_count]
              %td.type= 'Image'.pluralize partner[:stats][:image_count]
            %tr
              %td.count= number_with_delimiter partner[:stats][:audio_count]
              %td.type= 'Audio File'.pluralize partner[:stats][:audio_count]
            %tr
              %td.count= number_with_delimiter partner[:stats][:video_count]
              %td.type= 'Video'.pluralize partner[:stats][:video_count]
.container.recent-content
  .row
    %h2.title
      Recently Added Content
    - @recents.each do |rs|
      .col-lg-3.col-md-4.col-sm-6
        - if rs.permalink
          %a.thumbnail{href: rs.permalink, 'data-pmp' => public_proxy_path + '/docs/' + rs.story_guid}
            %img{src: rs.image_url, alt: rs.title}
            .img-cover{style: "background-image: url(#{rs.image_url})"}
            .caption.ellipsis
              .meta.clearfix
                .date= rs.published_date.strftime('%b %e, %Y')
                .show= rs.show_name || rs.creator_name.upcase
              %h3= rs.title
        - else
          .thumbnail{'data-pmp' => public_proxy_path + '/docs/' + rs.story_guid}
            %img{src: rs.image_url, alt: rs.title}
            .img-cover{style: "background-image: url(#{rs.image_url})"}
            .caption.ellipsis
              %p.meta
                %span.date= rs.published_date.strftime('%b %e, %Y')
                %span.show= rs.show_name || rs.creator_name.upcase
              %h3= rs.title
