.container.intro
  .row
    .col-lg-8.col-lg-offset-2
      %p.text-justify
        The
        %b
          = link_to 'Public Media Platform', 'http://publicmediaplatform.org'
        is a Hypermedia API containing more than
        %b
          = number_with_delimiter @total
        pieces of content from five of the country's leading public media organizations.
        This collaboration provides the industry's first ever cross-media digital distribution system,
        with the ultimate goal of bringing public media to a larger audience.
  .row.links
    .col-lg-8.col-lg-offset-2
      - if current_user
        .col-sm-4
          = link_to credentials_path do
            %i.fa.fa-fw.fa-lg.fa-user>
            Manage your API user
      - else
        .col-sm-4
          = link_to register_path do
            %i.fa.fa-fw.fa-lg.fa-key>
            Request an API account
      .col-sm-4
        = link_to docs_path do
          %i.fa.fa-fw.fa-lg.fa-code>
          Technical docs
      .col-sm-4
        = link_to 'http://discuss.pmp.io' do
          %i.fa.fa-fw.fa-lg.fa-users>
          Technical discussion
      .col-sm-4
        = link_to 'https://github.com/publicmediaplatform/pmp-issues/issues/new' do
          %i.fa.fa-fw.fa-lg.fa-bullhorn>
          Report a problem
      .col-sm-4
        = link_to 'https://github.com/publicmediaplatform/pmp-issues/issues?state=open' do
          %i.fa.fa-fw.fa-lg.fa-bug>
          View open issues
      .col-sm-4
        %p
          %i.fa.fa-fw.fa-lg.fa-comments>
          irc.freenode.net <code>#pmp</code>
      .col-sm-4.col-sm-offset-4
        = link_to 'http://publicmediaplatform.org' do
          %i.fa.fa-fw.fa-lg.fa-bookmark>
          Learn more
.container.pmp-search-form
  .row
    %h2.title
      Search the Platform
    .col-md-6.col-md-offset-3
      %form{method: 'get', action: public_search_path}
        = render partial: 'search/form'
.partner-stats
  .container
    .row
      - @partners.each_with_index do |partner, idx|
        .col-sm-2{class: idx == 0 ? 'col-sm-offset-1' : ''}
          %h3
            = image_tag partner[:image]
            %br.visible-sm
            = partner[:name]
          %table.table
            %tr
              %td.count= number_with_delimiter partner[:stats][:story_count]
              %td.type= 'Story'.pluralize partner[:stats][:story_count]
            %tr
              %td.count= number_with_delimiter partner[:stats][:image_count]
              %td.type= 'Image'.pluralize partner[:stats][:image_count]
            %tr
              %td.count= number_with_delimiter partner[:stats][:audio_count]
              %td.type= 'Audio File'.pluralize partner[:stats][:audio_count]
            %tr
              %td.count= number_with_delimiter partner[:stats][:video_count]
              %td.type= 'Video'.pluralize partner[:stats][:video_count]
.container.recent-content
  .row
    %h2.title
      Recently Added Content
    - @recents.each do |rs|
      .col-lg-3.col-md-4.col-sm-6
        - if rs.permalink
          %a.thumbnail{href: rs.permalink, 'data-pmp' => public_proxy_path + '/docs/' + rs.story_guid}
            %img{src: rs.image_url, alt: rs.title}
            .img-cover{style: "background-image: url(#{rs.image_url})"}
            .caption.ellipsis
              .meta.clearfix
                .date= rs.published_date.strftime('%b %e, %Y')
                .show= rs.show_name || rs.creator_name.upcase
              %h3= rs.title
        - else
          .thumbnail{'data-pmp' => public_proxy_path + '/docs/' + rs.story_guid}
            %img{src: rs.image_url, alt: rs.title}
            .img-cover{style: "background-image: url(#{rs.image_url})"}
            .caption.ellipsis
              %p.meta
                %span.date= rs.published_date.strftime('%b %e, %Y')
                %span.show= rs.show_name || rs.creator_name.upcase
              %h3= rs.title
