-# main form
- content_for :logbox do

  = form_tag(forgot_path) do
    = raw negative_captcha(@captcha)
    - if flash.alert
      %span.help-block.text-danger
        != flash.alert
    - elsif flash.notice
      %span.help-block
        != flash.notice
    - else
      %span.help-block
        Instructions to reset your password will be emailed to the address associated with this username.
    = render partial: 'sessions/hoster'
    = negative_text_field_tag(@captcha, :username, class: 'form-control', autofocus: true, required: true, placeholder: 'Username')
    %button.btn.btn-lg.btn-pmp.btn-block{type: 'submit'}
      Email reset instructions

-# nav links
- content_for :logbox_links do
  = link_to login_path, class: 'pull-right' do
    Back to login?
    %i.fa.fa-arrow-right
