<div class="page" data-href="{{href}}">
  {{#each items}}
  <div class="media" data-guid="{{attributes.guid}}">
    {{#item-img}}
    <a href="#" data-pmp="{{proxy href}}" class="pull-left expander image">
      <img src="{{img-thumb links.enclosure}}" alt="{{attributes.title}}" class="media-object"/>
    </a>
    {{/item-img}}
    <div class="media-body">
      <h4 class="media-heading clearfix">
        {{#item-series}}
        <span class="series" data-pmp="{{proxy href}}">{{title}}</span>
        {{else}}
        <span class="series text-muted">(Unknown)</span>
        {{/item-series}}
        <span class="date">{{fancy-date attributes.published}}</span>
        <span class="type {{item-type-classes}}">
          {{#item-types}}
          <a href="#" data-pmps="{{hrefs}}">{{label}}</a>
          {{/item-types}}
          {{#item-length}}
          <div class="length">{{length}}</div>
          {{/item-length}}
        </span>
      </h4>
      <h3 class="media-title">
        {{#item-alt}}
        <a href="{{href}}" target="_blank" data-pmp="{{proxy ../href}}">{{../attributes.title}}</a>
        {{else}}
        <span data-pmp="{{proxy href}}">{{attributes.title}}</span>
        {{/item-alt}}
      </h3>
      <p class="content">{{description attributes}}</p>
      <div class="meta">
        {{#item-author}}
        <div class="author">By {{name}}</div>
        {{/item-author}}
        {{#item-attachments}}
        <div class="attachments">
          {{#if expandable}}
          <a href="#" class="expander {{type}}">{{count}} {{label}}</a>
          {{else}}
          <p>{{count}} {{label}}</p>
          {{/if}}
        </div>
        {{/item-attachments}}
        <input class="guid" type="text" readonly value="{{attributes.guid}}" data-toggle="tooltip" data-placement="bottom" title="Select GUID">
        {{#item-collect}}
        <a class="collect" href="{{href}}">Collect</a>
        {{/item-collect}}
      </div>
    </div>
    <div class="media-expanders">
      {{#expander-images}}
      <a class="image" href="{{img-normal links.enclosure}}" title="{{attributes.title}}"></a>
      {{/expander-images}}
    </div>
  </div>
  {{/each}}
  {{#item-next}}
  <div class="media load-next-page" data-href="{{href}}">
    <h3><i class="fa fa-spinner fa-spin"></i> Loading More</h3>
  </div>
  {{/item-next}}
</div>
