{{#each items}}
<div class="media">
  {{#item-img}}
  <a href="#" data-pmp="{{proxy href}}" class="pull-left">
    <img src="{{img-thumb links.enclosure}}" class="media-object"/>
  </a>
  {{/item-img}}
  <div class="media-body">
    <h4 class="media-heading">
      {{#item-series}}
      <span class="series" data-pmp="{{proxy href}}">{{title}}</span>
      {{else}}
      <span class="series text-muted">(Unknown)</span>
      {{/item-series}}
      <span class="date">{{fancy-date attributes.published}}</span>
      {{#item-types}}
      <span class="type {{classes}}">{{label}}{{#if length}}<div class="length">{{length}}</div>{{/if}}</span>
      {{/item-types}}
    </h4>
    <h3 class="media-title">
      <a href="#" data-pmp="{{proxy href}}">{{attributes.title}}</a>
    </h3>
    <p class="content">{{description attributes}}</p>
    <div class="meta">
      {{#item-author}}
      <div class="author">By {{name}}</div>
      {{/item-author}}
      {{#item-attachments}}
      <div class="attachments">{{count}} {{type}}</div>
      {{/item-attachments}}
    </div>
  </div>
</div>
{{/each}}
