-# main form
- content_for :logbox do

  = form_tag(register_path) do
    = hidden_field_tag(:ga_client_id, '', class: 'ga-client-id')
    = raw negative_captcha(@captcha)
    - if flash.alert
      %span.help-block.text-danger
        != flash.alert
    - elsif flash.notice
      %span.help-block
        != flash.notice
    - else
      %span.help-block
        %h2 New API user.
        %p Please email support@pmp.io to have a new account created.

-# nav links
- content_for :logbox_links do
  = link_to login_path, class: 'pull-left' do
    %i.fa.fa-arrow-left
    Back to login?
