.container
  .row
    .col-sm-4.col-xs-6
      %ul
        %li
          = link_to 'http://status.pmp.io', id: 'statuspage' do
            %i.fa.fa-fw.fa-lg.fa-area-chart>
            %span ...
        %li
          = link_to 'https://github.com/publicmediaplatform/pmp-issues/issues' do
            %i.fa.fa-fw.fa-lg.fa-bug>
            Issue Queue
        %li
          = link_to 'https://discuss.pmp.io' do
            %i.fa.fa-fw.fa-lg.fa-comment>
            Technical Discussion
    .col-sm-4.col-xs-6
      %ul
        %li
          = link_to 'http://publicmediaplatform.org', class: 'hidden-xs' do
            %i.fa.fa-fw.fa-lg.fa-bookmark>
            publicmediaplatform.org
          = link_to 'http://publicmediaplatform.org', class: 'visible-xs' do
            %i.fa.fa-fw.fa-lg.fa-bookmark>
            pmp.io
        %li
          = link_to 'http://twitter.com/pmpio' do
            %i.fa.fa-fw.fa-lg.fa-twitter>
            pmpio
        %li
          = link_to 'https://freenode.net' do
            %i.fa.fa-fw.fa-lg.fa-comments>
            \#pmp on freenode
    .col-sm-4.hidden-xs
      %ul
        %li
          %p
            &copy; 2014 Public Media Platform
