.container
  .row
    .col-xs-6
      %ul
        %li
          = link_to 'https://digitalservices.npr.org/term/public-media-platform', class: 'hidden-xs' do
            %i.fa.fa-fw.fa-lg.fa-bookmark>
            publicmediaplatform.org
          = link_to 'http://publicmediaplatform.org', class: 'visible-xs' do
            %i.fa.fa-fw.fa-lg.fa-bookmark>
            pmp.io
    .col-sm-6.hidden-xs
      %ul
        %li
          = link_to terms_path do
            %i.fa.fa-fw.fa-lg.fa-legal>
            Terms of Use
        %li
          %p
            %i.fa.fa-fw.fa-lg.fa-copyright>
            = "#{Date.current.year} Public Media Platform"
