.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li{class: active_tab(root_path)}
      = link_to 'Home', root_path
    - if current_user
      %li{class: active_tab(credentials_path)}
        = link_to 'Credentials', credentials_path
    %li.dropdown
      %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
        Links
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Issue Queue', 'https://github.com/publicmediaplatform/pmp-issues/issues'
          = link_to 'Documentation', 'https://github.com/publicmediaplatform/pmpdocs/wiki'
          = link_to 'Mailing List', 'https://groups.google.com/forum/#!forum/pmp-dev'
  %ul.nav.navbar-nav.navbar-right
    - if current_user
      %li.dropdown
        %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
          = format_user(current_user)
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Add account', add_account_path
          %li
            = link_to 'Logout', logout_path
          %li.divider
          %li.dropdown-header Switch accounts
          - current_users.each_with_index do |u, idx|
            %li
              %a{href: switch_path(idx)}
                = format_user(u)
    - else
      %li{class: active_tab(login_path, register_path, forgot_path)}
        = link_to 'Login', login_path
