!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http_equiv' =>'X-UA-Compatible', content: 'IE=Edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title
      PMP Support
    = csrf_meta_tags
    /[if lt IE 9]
      %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body{class: "#{controller_name} #{action_name}"}

    -# fixed navbar
    .navbar.navbar-pmp.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: root_path}
            PMP
        = render 'layouts/navbar'

    -# main content
    #main.container
      - if content_for?(:logbox)
        = render 'layouts/logbox'
      - elsif flash.alert
        .alert.alert-danger.alert-dismissable
          %button.close{'data-dismiss' => 'alert'} &times;
          = flash.alert
      - elsif flash.notice
        .alert.alert-pmp.alert-dismissable
          %button.close{'data-dismiss' => 'alert'} &times;
          = flash.notice
      = yield

    -# sticky footer
    #footer
      = render 'layouts/footer'
